// Place all the styles related to the Urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'bootstrap/dist/css/bootstrap';

body {

    background-color: #FDF6EA !important;
    
    .container-fluid{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.copy-url-container{
    display: flex;
    align-items: center;

}
    }

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}    